*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vh;
}

.box{
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}
.container{
    display: grid;
   grid-template-columns:repeat(4,200px);
   grid-auto-rows: 200px;
   gap: 1rem 2rem;

}

.box:first-child{
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    align-content: center;
    justify-content: center;
}

.box:nth-child(2){
    background-color: blue;
    grid-column: 1/5;
    grid-row: 3/4;
}