*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 20px;
}

.container{
    max-width: 800px;
    min-height: 600px;
    margin-inline: auto;
    border: 2px solid red;
    display: flex;
  justify-content: center;
  flex-flow:row wrap;
  align-items: center;
align-content:space-evenly ;
 
  gap: 1rem;

}

.box{
    min-width: 100px;
    min-height: 100px;
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 300px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}

.box:nth-child(2){
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
}