*{
    font-family: monospace;
    
}
html{
    font-size: 20px;
    border: 3px solid gray;
    background-color: white;
}

p{
    color: rgba(71, 158, 117, 0.5)
}
.gray{
    color: gray;
}

#mainheading{
    color: green;
    font-style: italic;
}

/* h1,h2-> h1 and h2 select ,h1 h2 ->h2 inside h1*/
h1,h2{
 background-color: gray;
}
p span{
    background-color: blueviolet;
}

/* https://coolors.co/contrast-checker/481414-e2cfcf */